{{>header}}
<main>
  <section class="title">
    <h1 {{^bookWithMostReviews}}style="width: 100%"{{/bookWithMostReviews}}>Books Catalog</h1>
    {{#bookWithMostReviews}}
    <aside>
      <small>Book with most reviews:
        <strong>
          {{title}} ({{reviewCount}})
        </strong>
      </small>
    </aside>
    {{/bookWithMostReviews}}
  </section>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published</th>
      <th>Chapters</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#bookList}}
      <tr>
        <td>{{title}}</td>
        <td class="reference">{{authorName}}</td>
        <td>{{publishedDate}}</td>
        <td>{{chapters.size}}</td>
        <td>
          <a id="open-edit-book-dialog" class="open-dialog" href="/api/books/{{id}}">Edit</a>
          <a id="open-delete-book-dialog" class="spaced delete open-dialog" href="/api/books/{{id}}">Delete</a>
          <a id="open-add-chapter-dialog" class="spaced open-dialog" href="/api/chapters/add/{{id}}"><em>Add Chapter</em></a>
        </td>
      </tr>
      {{#chaptersPresent}}
      <tr>
        <td class="expandable" colspan="5">
          <details>
            <summary>
              Chapters
            </summary>
            <table class="inner">
              <thead>
              <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Reviews</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {{#chapters}}
                <tr>
                  <td>{{title}}</td>
                  <td class="text-content"><p>{{content}}</p></td>
                  <td>{{reviewCount}}</td>
                  <td>
                    <a id="open-edit-chapter-dialog" class="open-dialog" href="/api/chapters/{{id}}">Edit</a>
                    <a id="open-delete-chapter-dialog" class="spaced delete open-dialog" href="/api/chapters/{{id}}">Delete</a>
                    <a id="open-add-review-dialog" class="spaced open-dialog" href="/api/reviews/add/{{id}}"><em>Add Review</em></a>
                  </td>
                </tr>
                {{#reviewsPresent}}
                <tr>
                  <td class="expandable" colspan="4">
                    <details>
                      <summary>
                        Reviews
                      </summary>
                      <table class="inner">
                        <thead>
                        <tr>
                          <th>Reviewer</th>
                          <th>Content</th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#reviews}}
                          <tr>
                            <td class="reference">{{reviewerName}}</td>
                            <td class="text-content"><p>{{content}}</p></td>
                            <td>
                              <a id="open-edit-review-dialog" class="open-dialog" href="/api/reviews/{{id}}">Edit</a>
                              <a id="open-delete-review-dialog" class="spaced delete open-dialog" href="/api/reviews/{{id}}">Delete</a>
                            </td>
                          </tr>
                        {{/reviews}}
                        </tbody>
                      </table>
                    </details>
                  </td>
                </tr>
                {{/reviewsPresent}}
              {{/chapters}}
              </tbody>
            </table>
          </details>
        </td>
      </tr>
      {{/chaptersPresent}}
    {{/bookList}}
    </tbody>
  </table>
  <div class="below"><a id="open-add-book-dialog" class="open-dialog" href="/api/books"><em>Add Book</em></a></div>
</main>
<dialog id="add-book-dialog">
  <form id="add-book-dialog-form" method="dialog">
    <label for="book-title">Title:</label>
    <input type="text" id="book-title" name="title" required minlength="4" maxlength="40" size="10" />
    <label for="book-author">Author:</label>
    <select id="book-author" name="authorId">
      {{#authorList}}
        <option value="{{id}}">{{name}}</option>
      {{/authorList}}
    </select>
    <label for="book-published-date">Published:</label>
    <input type="date" id="book-published-date" name="published-date" required />
    <section class="button-bar">
      <button type="submit">Add</button>
      <button id="close-add-book-dialog" type="button" class="close">Cancel</button>
    </section>
  </form>
</dialog>
<dialog id="delete-book-dialog">
  <form id="delete-book-dialog-form" method="dialog">
    <p>Are you sure you want to delete this book?</p>
    <section class="button-bar">
      <button type="submit">Yes</button>
      <button id="close-delete-book-dialog" type="button" class="close">No</button>
    </section>
  </form>
</dialog>
<dialog id="add-chapter-dialog">
  <form id="add-chapter-dialog-form" method="dialog">
    <label for="chapter-title">Title:</label>
    <input type="text" id="chapter-title" name="title" required minlength="4" maxlength="40" size="10" />
    <label for="chapter-content">Content:</label>
    <textarea id="chapter-content" rows="5" name="content"></textarea>
    <section class="button-bar">
      <button type="submit">Add</button>
      <button id="close-add-chapter-dialog" type="button" class="close">Cancel</button>
    </section>
  </form>
</dialog>
<dialog id="delete-chapter-dialog">
  <form id="delete-chapter-dialog-form" method="dialog">
    <p>Are you sure you want to delete this chapter from the book?</p>
    <section class="button-bar">
      <button type="submit">Yes</button>
      <button id="close-delete-chapter-dialog" type="button" class="close">No</button>
    </section>
  </form>
</dialog>
<dialog id="add-review-dialog">
  <form id="add-review-dialog-form" method="dialog">
    <label for="review-content">Review:</label>
    <textarea id="review-content" rows="5" name="content"></textarea>
    <label for="reviewer">Reviewer:</label>
    <select id="reviewer" name="reviewerId">
      {{#reviewerList}}
        <option value="{{id}}">{{name}}</option>
      {{/reviewerList}}
    </select>
    <section class="button-bar">
      <button type="submit">Add</button>
      <button id="close-add-review-dialog" type="button" class="close">Cancel</button>
    </section>
  </form>
</dialog>
<dialog id="delete-review-dialog">
  <form id="delete-review-dialog-form" method="dialog">
    <p>Are you sure you want to delete this chapter review?</p>
    <section class="button-bar">
      <button type="submit">Yes</button>
      <button id="close-delete-review-dialog" type="button" class="close">No</button>
    </section>
  </form>
</dialog>
{{>footer}}