<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/mvp.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" type="image/x-icon" href="img/favicon.png">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="_csrf" content="{{_csrf.token}}"/>
  <title>Bookstore Web Site</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/books">Books</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/reviewers">Reviewers</a></li>
      <li class="logout"><a href="/logout">logout</a></li>
    </ul>
  </nav>
</header>